<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>Hibernate_Practice</display-name>
    <servlet>
        <servlet-name>oneToOneServlet</servlet-name>
        <servlet-class>com.hibernate.servlet.OneToOneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>oneToManyServlet</servlet-name>
        <servlet-class>com.hibernate.servlet.OneToManyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manyToOneServlet</servlet-name>
        <servlet-class>com.hibernate.servlet.ManyToOneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manyToManyServlet</servlet-name>
        <servlet-class>com.hibernate.servlet.ManyToManyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oneToOneServlet</servlet-name>
        <url-pattern>/testOneToOne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oneToManyServlet</servlet-name>
        <url-pattern>/testOneToMany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manyToOneServlet</servlet-name>
        <url-pattern>/testManyToOne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manyToManyServlet</servlet-name>
        <url-pattern>/testManyToMany</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>